body{
    background: white


}
body h5{
    font-family: 'Times New Roman', Times, serif;
}

.marco{
    border: solid black;
    height: 60px;
    width: 500px;
    margin-left: 310px;
    font-family:fantasy
    
}
